.criar-topico{
    display: flex;
    flex-direction: column;
}

.criar-topico form{
    display: flex;
    flex-direction: column;
}

.criar-topico form input,textarea, select{
    max-width: 50%;
    border-radius: 5px;
    border: none;
    line-height: 50px;
    outline: none;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
    background-color: rgb(238, 238, 238);
    margin-bottom: 15px;
}

select{
    height: 50px;
}

.criar-topico form input::placeholder{
    color: rgb(129, 129, 129);
}

.criar-topico form input:focus, textarea:focus{
    background-color: var(--azul);
    color: white;
}

.criar-topico-text{
    width: 100% !important;
    max-width: 100% !important;
    height: 300px;
    line-height: 45px !important;
}

/* pagina onde aparecem todos os tópicos /forum */

.topic-box{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 350px;
    gap:10px;
    box-sizing: border-box;
    margin-top: 20px;
}

.topic-title-box{
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    height: 110px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    line-height: 10px;
    transition: 0.1s all ease-in-out;
}

.topic-title-box:hover{
    background-color: goldenrod;
}

.category1 {
    background-color: rgb(218, 255, 218); /* Replace with the desired color for category 1 */
  }
  
  .category2 {
    background-color: rgb(199, 199, 253); /* Replace with the desired color for category 2 */
  }
  
  .category3 {
    background-color: rgb(239, 176, 176); /* Replace with the desired color for category 3 */
  }
  .category4 {
    background-color: rgb(215, 215, 215); /* Replace with the desired color for category 3 */
  }

.botao-criar-estilinho{
    padding: 10px 20px;
    background-color: var(--azul);
    font-weight: 600;
    border-radius: 5px;
    border: none;
    outline: none;
    transition: 0.2s all ease-in-out;
    color: white;
}

.botao-criar-estilinho:hover{
    background-color: var(--verde);
}

.topico{
    margin: 0 auto;
    width: 1120px;
    margin-top: 60px;
    background-color: rgb(221, 221, 221);
    padding: 15px;
    border-radius: 5px;
}

.topico .categoria{
    width: fit-content;
    padding: 5px 15px;
    border-radius: 5px;
    font-weight: bold;
    background-color: var(--verde);
}

.topico .conteudo{
    font-size: 18px;
}

.topico .alinhar{
    width: fit-content;
    padding: 5px 20px;
    float: right;
    transition: 0.15s all ease-in-out;
}

.topico .alinhar:hover {
    background-color: var(--verde);
}

.topo-forum{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center !important;
}

.topo-forum input{
    border:1px solid black;
    border-radius: 8px;
    padding: 10px 20px;
    justify-self: end;
    width: 60%;
    max-height: 44px;
    outline: none;
}

.topo-forum input::placeholder{
    color:rgb(43, 43, 43);
}

.topo-forum button{
    margin: 0 !important;;
}

.topo-forum input:focus{
    background-color: var(--azul);
    color: white;
}

.topo-forum-title{
    margin-top: 50px;
    font-size: 50px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 30px;
}

.topo-forum-title p{
    font-weight: 300;
    font-size: 22px;
}

.pagination button{
    margin-right: 10px;
    transition: all 0.2s ease-in-out;
    background-color: var(--azul);
}

.pagination button:hover{
    background-color: var(--verde);
}

.pagination button.active{
    background-color: #d09c01;
}

.confirmation-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  
  .confirmation-box {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
  }
  
  .confirmation-box h3 {
    margin-top: 0;
  }
  
  .confirmation-box p {
    margin-bottom: 20px;
  }
  
  .confirmation-box .buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  
  /* CSS for category classes */
.category-deti {
    background-color: #1fd249; /* Set the desired background color for the DETI category */
  }
  
  .category-duvida {
    background-color: #ff00d4; /* Set the desired background color for the Duvida category */
  }
  
  .category-tech {
    background-color: #1ad0e1; /* Set the desired background color for the Tech category */
  }
  
  .category-eventos {
    background-color: #eda520; /* Set the desired background color for the Eventos category */
  }
  
  .category-default {
    background-color: #cccccc; /* Set a default background color for other categories */
  }
  
  /* CSS for category tag */
  .category-tag {
    padding: 2px 6px;
    color: #ffffff;
    font-weight: bold;
    border-radius: 4px;
  }
  
  .voumematar{
      padding: 2px 10px;
      border-radius: 15px;
      font-weight: 700;
  }