.ms-3 {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    padding-left: 20px;
}

.divBalao {
    padding-top: 10px;
    grid-template-columns: 60% 10%;
}

.balao {
    position: relative;
    background-color: #ebeaea;
    border-radius: 10px;
    padding: 10px;
}

.texto {
    margin: 0;
    color: #000000;
    font-size: 16px;
}

textarea {
    height: 100px;
    width: 100%;
    padding: 6px;
    border: 1px solid #ebeaea;
    border-radius: 4px;
    resize: none;
}

button {
    background-color: var(--cinza);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding-left: 10px;
}

button.editing {
    background-color: #4caf50;
}

.balao {
    display: flex;
    align-items: center;
}

textarea.descricao {
    flex-grow: 1;
    margin-right: 10px;
}

.botaoEditar{
    background-color: var(--cinza);
}

.balao {
    position: relative;
    background-color: #ebeaea;
    border-radius: 10px;
    padding: 10px;
    cursor: text;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.balao1 {
    position: relative;
    background-color: #ebeaea;
    border-radius: 10px;
    padding: 10px;
    align-items: center;
    display: flex;
}

.redesSociais{
    display: grid;
    padding-top: 10px;
    grid-template-columns: 15% 15% 15%;
}

.divlinkedin{
    padding-right: 10px;
}

.texto {
    margin: 0;
    color: #000000;
    font-size: 16px;
    outline: none;
    padding-left: 20px;
}

.texto1{
    padding-left: 10px;
    color: #000000;
    margin: 0;
    align-items: start !important;
    outline: none;
}


button {
    margin-top: 10px;
    padding: 8px 16px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.balao1 {
    position: relative;
    background-color: #ebeaea;
    border-radius: 10px;
    padding: 10px;
    align-items: center;
    display: flex;
}

.redesSociais {
    display: grid;
    padding-top: 10px;
    grid-template-columns: 15% 15% 15%;
}

.divlinkedin {
    padding-right: 10px;
}

.texto1 {
    padding-left: 10px;
    color: #000000;
    margin: 0;
    align-items: start !important;
    outline: none;
}