a {
    color: inherit; /* Inherit the text color from the parent element */
    text-decoration: none; /* Remove underline */
    cursor: pointer; /* Change cursor to indicate clickable link */
}

.holder{
    background-color: var(--bege);
    padding-top: 50px;

}

:root{
    --cinze-escuro: #171717;
    --preto: #000;
    --azul: #58A4B0;
    --azul: #5aadb9;
    --vermelho: #DA6545;
    --branco: #fff;
    --bege: #F8f6f1;
    --verde: #50bd61;
    --cinza: #596683;
}

.fred{
    color: var(--vermelho);
}

.fgreen{
    color: var(--verde);
}

.fazul{
    color: var(--azul);
}

.bgred{
    background-color: var(--vermelho);
}

.bggreen{
    background-color: var(--verde);
}

.bgblue{
    background-color: var(--azul);
}